
div.heart,div.star{
position: absolute;
color: #333;

padding: 2px;
}


i.bi.bi-heart,i.bi.bi-star{
    color: #333;
}
h2.title-product{
    text-align: center;
}
div.width-product{
    margin-top: 10px;
}


.old{
    text-decoration: line-through;
    margin-inline-end: 10px;
}
div.star{
    display: flex;
    margin-inline-start:20px ;
     margin-inline-end:20px ;
    padding-top: 0px;
}

div.star  p{
    margin-inline-start: 5px;
      color: #333;
}
div.star i{
    color: #333;
}