.list-icon{
       background-color: #ddddcc;
    width: 80px;
    min-height: 80px;
    border-radius: 50%;
    text-decoration: none;
    border: 2px solid #333;
    text-align: center;
    
    padding-top: 15px;
}
.list-icon i{
font-size: 28px;
    color: #df5c30;
    font-weight: bold;
}
div.list-box{
    display: flex;
    margin: auto;
    padding: 10px;
    margin-top: 1.5%;
    margin-bottom: 2%;
   
    width: 90%;
    align-items: center;
    gap: 5%;
}
div.list-box div.box{
    border: 2px solid #333;
    min-width: 900px;
    padding-top: 10px;
    border-radius: 10px;
    padding-inline-start: 10px;
     background-color: #f8f8b6;
}
div.list-box div.box h5{
    color: #df5c30;
    
}
div.statistics0,div.statistics1,div.statistics2{
    background-color: #333;
    text-align: center;
    padding: 30px;
    min-width: 20%;
    cursor:default;
    border-radius: 10px;
    border: #00000098 1px solid;
}
@keyframes pulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
a .logo{
  width:100%;
    height: 60px;
}
div.header{
    width: 94%;
    margin: auto;
    display: flex;
    margin-top: 1%;
    
    justify-content: space-between;
}
div.grid{
    display: flex;
    width: 20%;
    align-items: start;
    color: #df5c30;
    gap: 5px;
    
}
div.grid i{
    font-size: 22px;
}
div.header button{
     font-size: 20px;
  border: none;
  background-color: transparent;
  font-weight: bold;
  color: #333;
}
div.statistics0 h5, div.statistics1 h5,div.statistics2 h5{
    color: #df5c30;
    margin-bottom: 10px;
}
div.statistics0 p,div.statistics1 p,div.statistics2 p{
    color: #f8f8b6;
    font-weight: 600;
     animation: pulse 5s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
div.statistics0 ,div.statistics1 ,div.statistics2 {
height: 20vb;
}
div.statistics0,div.statistics2{
 
   align-self: flex-end;
}
div.statistics-div{
    display: flex;
    width: 80%;
    height: 45vb;
    margin: auto;
    margin-top: 3%;
    justify-content: space-evenly;
}
.add{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: flex-end;
}
.add a{
     color: aliceblue;
 text-decoration: none;
  width: 10%;
  text-align: center;
  padding: 0.5% 0px;
  border: #333 1px solid;
  border-radius: 10px;
  background-color: #df5c30;
}