/* body{
    overflow-x: hidden;
} */
.imghome{
    width: 100%;
    height: 100vb;
}
p.dis span{
    color: #df5c30;
    font-size: 22px;
    font-weight: bold;
}
div.text-photo{
    position: absolute;
    background-color: #dddda4;
    top: 300px;
    padding: 7px;
    width: 25%;
    color: #333;
    border: #b3b37d solid 1px;
    /* border-radius: 8px; */
 
}
div.text-photo-en{
   border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
div.text-photo-ar{
   border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
div.text-photo .title{
        color: #333;
    font-weight: bold;
}
div.how-work,div.Advantages{
    overflow-x: hidden;
    display: flex;
    padding-top: 50px;
    padding-right: 5%;
    padding-left: 5%;
    align-items: center;
    gap: 15%;
}
img.how-work-img,img.Advantages-img{
   width: 100%;
   height: 340px;
   border-radius: 20px;
   border: #fa9b7b solid 1px;
}
div.how-work-div,div.Advantages-div{
   width: 50%;
}
p.how-work-p,p.Advantages-p{
  color: #df5c30;
  font-size: 23x;
  font-weight: bold;
}
.group-photo-div2{
    width: 80%;
    margin: auto;
        padding: 30px;
          margin-top: 50px;
          text-align: center;
}
.group-photo-p{
    margin-top: 20px;
    color: #333;
    font-size: 18px;
    font-weight: 600;
}
.group-photo{
    display: flex;
    align-items: center;
    justify-content: space-evenly;  
}
.group-photo1{
    width: 20%;
    border-radius: 10px;
    height: 190px;
}
.group-photo2{
    width: 40%;
    border-radius: 10px;
    height: 120px;
}
.group-photo3{
    width: 60%;
    border-radius: 10px;
    height: 170px;
}
.group-photo-div{
    display: flex;
    gap: 10px;
    width: 180px;
    align-items: center;
    flex-direction: column;
}
.group-photo4{
    width: 10%;
    border-radius: 10px;
    height: 80px;
   position: relative;
    top: 35px;
}
.group-photo5{
    width: 15%;
    border-radius: 10px;
    height: 120px;
     position: relative;
    bottom: 35px;
}
.group-photo6{
    width: 17%;
    border-radius: 10px;
    height: 160px;
    position: relative;
    top: 20px;
}