.privacy {
	padding: 40px 50px;
	color: #333;
}
.privacy .bi-journal-text {
	color: red;
}
.privacy .privacy-title {
	font-size: 28px;
	font-weight: bold;
	color: #333;
}
.privacy .privacy-eternal {
	padding: 0px 50px;
	color: #333;
}
.privacy .privacy-eternal1 {
	padding: 0px 40px;
	color: #333;
}
.privacy .privacy-eternal .privacy-title1 {
	font-size: 18px;
	color: #333;
	font-weight: bold;
}
.fade-up {
	opacity: 0;
	transform: translateY(30px);
	transition: opacity 0.8s ease, transform 0.8s ease;
}

.fade-up.visible {
	opacity: 1;
	transform: translateY(0);
}
.Questions {
	display: flex;
	width: 95%;
	margin: auto;
	align-items: center;
	justify-content: space-between;
}
.qa {
	background-color: #dddda4;
	border-radius: 20px;
	padding: 5px;
	margin-bottom: 10px;
}
.Questions button {
	font-size: 20px;
	border: none;
	background-color: transparent;
	font-weight: bold;
	color: #333;
}
.hiddena {
	display: none;
	opacity: 0;
	transform: translateY(30px);
	transition: opacity 0.8s ease, transform 0.8s ease;
}

.visiblea {
	display: block;
	opacity: 1;
	transform: translateY(0);
}
.gotohome {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.gotohome button {
	border: none;
	background-color: transparent;
	font-size: 22px;
	font-weight: bold;
}
